.about-container {
  font-family: "Arial, sans-serif";
  margin: 0;
  padding: 0rem 3rem;
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  max-width: 800px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-content {
  text-align: center;
}

.about-heading {
  color: #3498db;
  font-size: 2em;
  margin-bottom: 20px;
}

.about-paragraph {
  color: #333;
  line-height: 1.6;
  font-size: 1.2em;
}

.about-section {
  margin-top: 30px;
}

.gap {
  margin-top: 5rem;
}

@media screen and (max-width: 1000px) {
  .about-container {
    margin-top: 0rem;
  }
}
