.csv-download-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-height: 50vh;
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

.csv-download-container:hover {
    /* Increase the scale factor as needed */
}

.data-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.data-card:hover{
    transform: scale(1.03);

}

.data-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.to-align {
    display: flex;
    justify-content: center;
}