.csv-download-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-height: 50vh;
  transition: transform 0.3s ease;
}

.data-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.data-card:hover {
  transform: scale(1.03);
}

.data-card {
  background-color: #fdf7ff;
  border: 1px solid #fdc8ff;
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
  min-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.to-align {
  display: flex;
  justify-content: center;
}

.to-capitalize {
  text-transform: capitalize;
}
